.log1{
    background: rgba(255, 255, 255, 0.9);
    width: 70%;
    position: absolute;
    top: 30%;
    margin-left: 15%;
    border-radius: 15px;
}



@media only screen and (max-width: 600px){
    
    .log1{
        background: rgba(255, 255, 255, 0.9);
        width: 90%;
        position: absolute;
        top: 30%;
        margin-left: 5%;
        border-radius: 15px;
    }
}